@{
    ViewData["Title"] = "Downloads";
}

<div class="content-card">
    <h1>Downloads</h1>
    <p>Essential downloads for Arma Reforger modding:</p>

    <div class="important">
        <h3>Required Tools</h3>
        <ul>
            <li>Arma Reforger Workbench</li>
            <li>Visual Studio Code</li>
            <li>Git for version control</li>
        </ul>
    </div>

    <h2>Getting Started</h2>
    <ol>
        <li>
            <h4>Install Arma Reforger</h4>
            <p>Purchase and install through Steam</p>
        </li>
        <li>
            <h4>Download Workbench</h4>
            <p>Available in Steam as "Arma Reforger Tools"</p>
        </li>
        <li>
            <h4>Install Dependencies</h4>
            <pre>-addonDownloadDir C:\%USERPROFILE%\Documents\My Games\Arma Reforger\addons</pre>
        </li>
    </ol>
</div>

<div class="content-card">
    <h2>Required Mods</h2>
    <div class="important">
        <b>Core Dependencies:</b>
        <ul>
            <li>WCS Core (Workshop ID: xxxxx)</li>
            <li>RHS Status Quo (Workshop ID: xxxxx)</li>
        </ul>
    </div>
</div>
